In [1]:
import yfinance as yf
import pandas as pd
from statsforecast import StatsForecast
import numpy as np

from lib.utils import get_hourly_market_freq

/Users/beneverman/Documents/Coding/bp-quant/forecasting-experiments-v1/venv/lib/python3.10/site-packages/statsforecast/core.py:25: TqdmExperimentalWarning: Using `tqdm.autonotebook.tqdm` in notebook mode. Use `tqdm.tqdm` instead to force console mode (e.g. in jupyter console)
  from tqdm.autonotebook import tqdm

In [2]:
ticker = 'MSFT'

In [12]:
df = yf.download(ticker, start = '2023-01-01', end = '2023-08-31', interval='1d') # use hourly prices

[*********************100%%**********************]  1 of 1 completed

In [13]:
df

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2023-01-03,243.080002,245.750000,237.399994,239.580002,237.956329,25740000
2023-01-04,232.279999,232.869995,225.960007,229.100006,227.547348,50623400
2023-01-05,227.199997,227.550003,221.759995,222.309998,220.803360,39585600
2023-01-06,223.000000,225.759995,219.350006,224.929993,223.405609,43613600
2023-01-09,226.449997,231.240005,226.410004,227.119995,225.580750,27369800
...,...,...,...,...,...,...
2023-08-24,332.850006,332.980011,319.959991,319.970001,319.970001,23281400
2023-08-25,321.470001,325.359985,318.799988,322.980011,322.980011,21684100
2023-08-28,325.660004,326.149994,321.720001,323.700012,323.700012,14808500
2023-08-29,321.880005,328.980011,321.880005,328.410004,328.410004,19284600
2023-08-30,328.670013,329.809998,326.450012,328.790009,328.790009,15222100

In [9]:
df

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2023-01-03,243.080002,245.750000,237.399994,239.580002,237.956345,25740000
2023-01-04,232.279999,232.869995,225.960007,229.100006,227.547363,50623400
2023-01-05,227.199997,227.550003,221.759995,222.309998,220.803360,39585600
2023-01-06,223.000000,225.759995,219.350006,224.929993,223.405609,43613600
2023-01-09,226.449997,231.240005,226.410004,227.119995,225.580780,27369800
...,...,...,...,...,...,...
2023-08-24,332.850006,332.980011,319.959991,319.970001,319.970001,23281400
2023-08-25,321.470001,325.359985,318.799988,322.980011,322.980011,21684100
2023-08-28,325.660004,326.149994,321.720001,323.700012,323.700012,14808500
2023-08-29,321.880005,328.980011,321.880005,328.410004,328.410004,19284600
2023-08-30,328.670013,329.809998,326.450012,328.790009,328.790009,15222100