In [13]:
import yfinance as yf
import pandas as pd

from lib.utils import get_sp500

In [24]:
sp500 = get_sp500()
# get random stock from each sector
tickers = sp500.groupby('GICS Sector').apply(lambda x: x.sample(1)).reset_index(drop=True).loc[:, 'Symbol'].tolist()

In [26]:
df = yf.download(tickers, start = '2018-01-01', end = '2022-12-31', interval='1d') # use daily prices

[*********************100%%**********************]  11 of 11 completed

In [28]:
cached = df.copy()

In [27]:
df = df.loc[:, (['Adj Close'], tickers)] # just get adj close
df.columns = df.columns.droplevel() # drop MultiIndex
df = df.reset_index() # reset index
df.head()

            Adj Close                                                 \
                  AMD         AXP         CCI          CI       CTVA
Date
2018-01-02  10.980000   91.171982   88.039383  193.000412        NaN
2018-01-03  11.550000   91.734100   87.667595  196.239975        NaN
2018-01-04  12.120000   93.259880   86.649254  197.268997        NaN
2018-01-05  11.880000   93.472572   87.311996  200.613342        NaN
2018-01-08  12.280000   92.612572   87.570618  198.393295        NaN
...               ...         ...         ...         ...        ...
2022-12-23  64.519997  145.472549  131.361801  329.853180  58.890560
2022-12-27  63.270000  144.849182  131.313858  329.645966  59.267422
2022-12-28  62.570000  142.494217  129.328751  327.425964  58.146744
2022-12-29  64.820000  145.769409  132.733154  326.311035  58.493858
2022-12-30  64.769997  146.194870  130.076767  326.922760  58.295502

                                                                      ...  \
                    DE        DVN         KR         LOW        NFLX  ...
Date                                                                  ...
2018-01-02  144.836731  32.490990  25.104061   82.652756  201.070007  ...
2018-01-03  145.496704  32.867985  24.704880   83.013580  205.050003  ...
2018-01-04  146.330841  33.260372  23.933130   83.663124  205.630005  ...
2018-01-05  146.954163  33.168041  24.234732   85.467384  209.990005  ...
2018-01-08  147.678314  33.275757  24.811329   84.538177  212.050003  ...
...                ...        ...        ...         ...         ...  ...
2022-12-23  431.491455  59.934116  45.114201  198.907806  294.959991  ...
2022-12-27  430.721130  60.634045  45.173191  198.740295  284.170013  ...
2022-12-28  424.825470  58.380878  43.826355  197.114594  276.880005  ...
2022-12-29  424.488800  58.524696  43.865677  199.282196  291.119995  ...
2022-12-30  424.607605  58.975327  43.826355  196.306671  294.880005  ...

             Volume                                                           \
                AXP      CCI       CI       CTVA       DE      DVN        KR
Date
2018-01-02  2746700  2036100  1115900        NaN  1897600  4782500  11693300
2018-01-03  2976400  2078900  1362800        NaN  1392300  3908700  10788400
2018-01-04  3122000  2240400   888600        NaN  1747000  4243500  12357600
2018-01-05  2550300  1769400   755000        NaN  1574400  3722200   9629900
2018-01-08  1896500  1776500  1130900        NaN  2711800  3596000  12321700
...             ...      ...      ...        ...      ...      ...       ...
2022-12-23  1671800   978400   618900  1136400.0   735600  6099600   4693200
2022-12-27  1858500  1131400   563600  1683900.0   713800  6771900   4601000
2022-12-28  1490200  1317700   553500  1656800.0   821700  6524400   4223900
2022-12-29  1758500  1612400   583500  1548200.0   835300  6355900   2897600
2022-12-30  2247200  1401500   699700  1858200.0   760200  6690900   3626000


                LOW      NFLX     PNW
Date
2018-01-02  6572600  10966900  748000
2018-01-03  4572000   8591400  930200
2018-01-04  3542800   6029600  669300
2018-01-05  5524200   7033200  907100
2018-01-08  6191600   5580200  592400
...             ...       ...     ...
2022-12-23  1469200   4251100  416500
2022-12-27  2076600   5778100  720900
2022-12-28  1419900   5964400  808300
2022-12-29  1270900   9588500  745100
2022-12-30  2154600   7566900  571400

[1259 rows x 66 columns]